
<h2>Ein Hallo aus der 'app.component.html'</h2>
Das File 'app.component.html' wird aus dem 'app.component.ts' aufgerufen.
<br><br>
<nav>
    <ul>
        <li><a routerLink="/home" routerLinkActive="active-link" class="link">Home</a></li>
        <li><a routerLink="/user" routerLinkActive="active-link" class="link">User</a></li>
        <li><a routerLink="/kontakt" routerLinkActive="active-link" class="link">Kontakt</a></li>
    </ul>
</nav>
<br><br>

<main>
    <router-outlet></router-outlet>
    <!-- <user></user>
    <home></home>
    <kontakt></kontakt> --->
</main>

<br><br>
<footer>&copy; HKFQ4 / 07.12.2016</footer>